
 <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
 <nav class="my-2 my-md-0 mr-md-1">
   <div *ngIf="ispublic" class="row justify-content-center">
  <!-- <a class="btn btn-outline-secondary " routerLinkActive="active" [routerLink]="['/addstudent/', this.schoolname]">Add StudentDetails </a> &nbsp; &nbsp; -->
<a class="btn btn-outline-secondary center"  routerLinkActive="active" [routerLink]="['/displaystudentdata/', this.schoolname]">View StudentDetails</a> &nbsp; &nbsp;
<!-- <a  class="btn btn-outline-secondary"    (click)="createregisiter()" >Add Register</a> -->
   </div>
  <div *ngIf="isschool">

    <a class="btn btn-outline-secondary " routerLinkActive="active" [routerLink]="['/addstudent/', this.schoolname]">Add StudentDetails </a> &nbsp; &nbsp;
<a class="btn btn-outline-secondary " routerLinkActive="active" [routerLink]="['/displaystudentdata/', this.schoolname]">View StudentDetails</a> &nbsp; &nbsp;
<a  class="btn btn-outline-secondary"    (click)="createregisiter()" >Add Register</a>
  </div>
  </nav>
</div>

