<app-schoolregister></app-schoolregister>
<div class="container">
  <!-- No data message -->

  <p *ngIf="Student.length <= 0" class="no-data text-center">There is no student added yet!</p>

  <!-- Employee list -->
  <table class="table table-bordered" *ngIf="Student.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col">Student ID</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Language</th>
        <th  *ngIf="ispublic" scope="col">School</th>
        <th  *ngIf="!ispublic"  scope="col center">Update</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of Student ; let i = index">
        <th scope="row">{{student.student_id}}</th>
        <td>{{student.student_name}}</td>
        <td>{{student.location}}</td>
        <td>{{student.languages}}</td>
        <td *ngIf="ispublic">{{student.tablename}}</td>

        <td  *ngIf="!ispublic"  class="text-center edit-block">

          <span class="edit"[routerLink]="['/editstudentdata/',schoolname, student.student_id]">
            <button type="button" class="btn btn-success btn-sm">Edit</button>&nbsp; &nbsp;
          </span>
          <span class="delete"(click)="removeStudent(student, i)">
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
