<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

  <a class="btn btn-outline-primary" (click)='addschool()'>Add School</a>&nbsp; &nbsp;


  <a class="btn btn-outline-primary" (click)='listschool()'>List School </a>

</div>

<div *ngIf="addbuffer">
  <label>Name of the school:</label>
  <input class="form-control" #school type="text" />
  <input type="submit" (click)='onsubmit(school.value)'>

</div>
<div *ngIf="listbuffer">
  <!-- <div class="list-group">
    <a [routerLink]="['/Register/', school.schoolname]" class="list-group-item list-group-item-action "*ngFor="let school of Schools">
    {{school.schoolname}}<br/>
  </a>
</div> -->
  <table class="table table-bordered">
    <thead class="table-success">
      <tr>
        <th scope="col">School List</th>
        <th scope="col center">Update</th>
      </tr>
    </thead>
    <tr *ngFor="let school of Schools ;let i = index">
      <td [routerLink]="['/Register/', school.schoolname]">{{school.schoolname}}</td>
      <td class="text-center edit-block">
        <span class="delete" (click)="removeSchool(school, i)">
          <button type="button" class="btn btn-danger btn-sm">Delete</button>
        </span>
      </td>
    </tr>
    <tr>
      <td [routerLink]="['/Register/public']">Backup data</td>
      <td class="text-center edit-block">
        <span class="delete">
          <button type="button" class="btn btn-danger btn-sm" disabled>Delete</button>
        </span>
      </td>
    </tr>
  </table>
</div>
