<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">School Mangement</h5>
  <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/Dashboard">Dashboard</a>
</div>
  <!-- <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/Dashboard">Dashboard</a>
  </nav>
  </div> -->
<!--
<div>
  <label>School:</label>
  <select>
    <option value="0">----</option>
    <option *ngFor="let school of Schools" value={{school.schoolname}}>
      {{school.schoolname}}
    </option>

  </select>
</div>
 -->
<router-outlet></router-outlet>






