<app-schoolregister></app-schoolregister>
<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">

        <div class="form-group">

          <label for="inputName">Name</label>
          <input class="form-control" type="text" formControlName="student_name">
          <!-- error -->

          <div *ngIf="submitted && myForm.student_name.errors?.pattern" class="invalid-feedback d-block">
              Enter Valid Name
            </div>
            <div *ngIf="submitted && myForm.student_name.errors?.required" class ="invalid-feedback d-block">
            Name is required.
          </div>


        </div>

        <div class="form-group">
          <label for="inputEmail3">Location</label>
          <input class="form-control" type="text" formControlName="location">
          <!-- error -->
          <div  *ngIf="submitted && !!myForm.location.errors?.required" class="invalid-feedback d-block">
            Enter your location.
          </div>

           </div>

        <div class="form-group">
          <label for="inputPassword3">Language</label>
          <select class="custom-select form-control" (change)="updateProfile($event.target.value)"
            formControlName="languages">
            <option value="">Choose...</option>
            <option *ngFor="let language of languages" value="{{language}}">{{language}}
            </option>
          </select>

          <!-- error -->
          <div class="invalid-feedback d-block" *ngIf="submitted && !!myForm.languages.errors?.required">
            Choose language.
          </div>
        </div>

               <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">Register</button>
        </div>
      </form>

    </div>
  </div><!-- form card register -->
</div>
