<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <!-- form card register -->
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Edit Student</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="inputVerify3">Student Id</label>
            <input class="form-control" type="text" formControlName="student_id" >
            <!-- error -->
            <div class="invalid-feedback d-block" *ngIf="submitted && !!myForm.student_id.errors?.required">
              Enter student Id.
            </div>

          </div>

          <div class="form-group">
            <label for="inputName">Name</label>
            <input class="form-control" type="text" formControlName="student_name">
            <div class="invalid-feedback d-block" *ngIf="submitted && myForm.student_name.errors?.pattern" class="invalid-feedback d-block">
              Enter Valid Name
            </div>

            <div class="invalid-feedback d-block"*ngIf="submitted && myForm.student_name.errors?.required" class ="invalid-feedback d-block">
              Name is required.
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3">Location</label>
            <input class="form-control" type="text" formControlName="location">
            <!-- error -->
            <div  *ngIf="submitted && !!myForm.location.errors?.required" class="invalid-feedback d-block">
              Enter your location.
            </div>


          </div>

          <div class="form-group">
            <label for="inputPassword3">Language</label>
            <select class="custom-select form-control" (change)="updateProfile($event.target.value)"
              formControlName="languages">
              <option value="">Choose...</option>
              <option *ngFor="let language of languages" value="{{language}}">{{language}}
              </option>
            </select>

            <!-- error -->
            <div class="invalid-feedback d-block" *ngIf="submitted && !!myForm.languages.errors?.required">
              Choose language.
            </div>
          </div>



          <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div><!-- form  -->
  </div>
</div>
